body{
    display: flex;
    background-color: hsl(217, 54%, 11%);
    height: 95vh;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}
.container{
    background-color: hsl(216, 50%, 16%);
    height: fit-content;
    width: 300px;
    max-width: 100%;
    padding: 18px 18px 18px 18px;
    box-shadow: 2px 3px 8px 0px hsl(216deg 50% 16%);
    border-radius: 14px;
}
.imge{
    display: flex;

    border-radius: 14px ;
}
.im-hover{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 13px;
    z-index: 2;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.img-hover{
    display: none;
    position: absolute;
    z-index: 5;
    transition: all 0.2s ease-in-out;
}
.im-hover:hover  {
    background-color:  hsla(178, 100%, 50%, 0.5);
    /* opacity: 0.5; */
    display: flex;
    transition: all 0.3s ease-in-out;
}
.im-hover:hover > .img-hover {
    display: flex;
    transition: all 0.3s ease-in-out;
}
.img1{
    width: 300px;
    height: 300px;
    border-radius: 13px;
    z-index: 1;
    max-width: 100%;
}


.main > h3 {
    cursor: pointer;
    color: hsl(0, 0%, 100%) ;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.main > h3:hover{
    color: hsl(178, 100%, 50%);
}
.p1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.span1 {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.txt-cayn{
    color: hsl(178, 100%, 50%);
    margin-left: 10px;
}
.span2{
    color: hsl(215, 51%, 70%);
}
.line{
    width: 100%;
    border-radius: 3px;
    border: 1px solid hsl(215, 32%, 27%);
    margin-bottom: 14px;
}
.avt{
    height: 34px;
    width: 34px;
    margin-right: 14px;
    border-radius: 40px;
    border: 1px solid hsl(0, 0%, 100%) ;
}
.span3{
    color: hsl(215, 51%, 70%) ;
}
.span4{
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.span4:hover{
    color: hsl(178, 100%, 50%);
}
